// put your custom styles here.
// It's better to override this file from projectDirectory/assets/sass/custom 

.nav
  position: relative

.logo
  height: 48px;

.post
  a
   color: var(--theme)

.nomargin
  margin: 0
  padding: 0