{{ $home := absURL "" }}
<header class="nav">
  <nav class="nav-menu">
    <a href="{{ $home }}" class="nav-brand nav_item">{{ .Site.Title }}</a>
    <div class="nav_bar-wrap">
      <div class="nav_bar"></div>
    </div>
  </nav>
</header>