{{ define "main" }}
<div class="wrap mt post">
  <div>
    {{- $date := (dateFormat "02. January 2006" .Date) -}}
    <h1 class="post_title">{{ .Title }}</h1>
    <div class="post_body">
      <div class="post_inner">
        {{ with .Params.image }}
        {{- $image := absURL (printf "%s" .) }}
        {{ if in . "https://" }}
        {{- $image = . }}
        {{ end }}
        <img src="{{ $image }}" alt="{{ . }}" class="post_thumbnail">
        {{ end }}
        {{ .Content }}
      </div>
      {{partial "editsource.html" . }}
    </div>
  </div>
</div>
{{ end }}