{{ $home := absURL "" }}
<header class="nav">
  <nav class="nav-menu">
    <img class="logo" src="/img/logo-boun.png">
    <a href="{{ $home }}" class="nav_item">
      <h1>Boğaziçi University Computer Engineering News</h1>
    </a>
  </nav>
</header>