{{ $events := where .Site.RegularPages.ByDate "Section" "events" }}
{{ range where $events "Date" "ge" (now.AddDate 0 0 -1) | first 4 }}
<div class="post_inner">
    {{- if eq .Params.type "phd-thesis-defense" -}}<p>PHD THESIS DEFENSE</p>{{end}}
    {{- if eq .Params.type "ms-thesis-defense" -}}<p>MS THESIS DEFENSE</p>{{end}}
    {{- if eq .Params.type "seminar" -}}<p>SEMINAR</p>{{end}}

    <h4 class="nomargin">
        {{ .Date | time.Format "2" }} <time>{{ .Date | time.Format "January" }}</time> @ {{.Params.start_time}}
    </h4>
</div>
<div class="post_inner ">
    <h3 class="nomargin"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    <p>{{ .Params.speaker }}</p>

</div>
{{end}}