{{ define "main" }}
<div class="wrap mt post">
  <div>
    <p>MS THESIS DEFENSE</p>
    {{- $date := (dateFormat "02. January 2006" .Date) -}}
    <h1 class="post_title">{{ .Title }}</h1>
    {{ if .Params.speaker }}
    <p>by {{ .Params.speaker }}</p>
    {{ end }}

    <p>
      Starts at <time>{{ .Params.start_time }}</time> on <time>{{ .Date | time.Format "Monday, January 2, 2006"
        }}</time>
    </p>

    <div class="post_body">
      <div class="post_inner">
        {{ with .Params.image }}
        {{- $image := absURL (printf "%s" .) }}
        {{ if in . "https://" }}
        {{- $image = . }}
        {{ end }}
        <img src="{{ $image }}" alt="{{ . }}" class="post_thumbnail">
        {{ end }}
        {{ .Content }}
      </div>
      {{partial "editsource.html" . }}
    </div>
  </div>
</div>
{{ end }}